body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 0, 31);
}

.canvas {
    height: 50vmin;
    width: 100vmin;
    background-image: url(../image/game_background_2.png);
    background-size: cover;
    background-position-y: -2em;
    position: relative;
    overflow: hidden;
}

/* player properties */
.player {
    height: 80px;
    width: 80px;
    background-color: white;
    position: absolute;
    bottom: 0;
}

.jump-animation{
    animation: player-jump .75s;
}

@keyframes player-jump{
    0% {bottom: 0px}
    50% {bottom: 150px}
    100% {bottom: 0px}
}
/* end player properties */

/* enemy properties */
.enemy {
    height: 80px;
    width: 80px;
    background-color: red;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.move-animation {
    animation: enemy-move 2s infinite;
}

@keyframes enemy-move{
    from {right: 0px}
    to {right: 800px}
}
/* end enemy properties */